*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
public_html/wp-config.php
public_html/wp-content/uploads/
public_html/wp-content/blogs.dir/
public_html/wp-content/backup-db/
public_html/wp-content/advanced-cache.php
public_html/wp-content/wp-cache-config.php
public_html/wp-content/cache/*
public_html/wp-content/cache/supercache/*
public_html/wp-content/cache/minify/*
public_html/wp-content/cache/
public_html/wp-content/backups/
public_html/wp-content/uploads/wp-sync-db/*

*.log


/* Grunt */
node_modules
.npm-debug.log
tmp
/* Sass */
.sass-cache


# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

