<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="startScreen">
<head>
	<title ng-bind="'Flame.me"></title>
	<!-- <link rel="stylesheet" href="css/animate.min.css"> -->

	<link rel="stylesheet" href="styles/output/global.css" />

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

</head>

<body>

	<div class="container">

		<!-- INRODUCTION -->

		<div class="row">
			<div class="intro">
				<h1><span>Flame</span>.me</h1>
				<p>Lorem ipsum dolor sit amet, consectetur elite adipiscing, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
			</div>
		</div>

		<!-- FORM STEP 1 -->

		<div class="row" ng-hide="startForm.$submitted">
			<form name="startForm" class="animate-show" ng-submit="startForm.$valid && processForm()" >
				<fieldset>

					<div class="form-row">
						<div class="summoner-search">

							<input type="text" required ng-model="searchSummoner" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control"type="text" placeholder="Enter summoner name" autofocus />

						</div>

						<div class="region">
						<label for="regionSelect">Make a choice:</label>
						<select name="regionSelect" id="regionSelect"
							ng-options="option.name for option in regions.availableRegions track by option.id"
							ng-model="regions.selectedOption"></select>
							
						</div>

					</div>


					<div class="form-row">
						<div class="custom-radio">
							<div class="radio">
								<input type="radio" name="flame" id="flame" value="flame" checked="checked">
								<label for="flame">Flame</label>
							</div>
							<div class="radio">
								<input type="radio" name="flame" id="praise" value="praise">
								<label for="praise">Praise</label>
							</div>
						</div>
					</div>

					<div class="form-row text-center">
						<button type="submit" class="btn btn-submit btn-main">Flame on!</button>
					</div>

				</fieldset>
			</form>
		</div>


		<!-- FORM STEP 2 -->

		<div class="row step-2 animate-show" ng-show="startForm.$submitted">
			<h2> <div><strong></strong>{{ object[searchSummoner].name }}</div></h2>

			<blockquote>
				&quot;Do you tan easily? Because your looking a little bronze!&quot;
			</blockquote>

			<button type="submit" class="btn btn-main btn-border-red">Start over</button>
			<button type="submit" class="btn btn-main btn-solid-red">Flame harder</button>
		</div>

		<!-- ERROR REPORTING -->

		<div class="error">
			<p>Flames gone out? <a href="#">Report a problem</a></p>
		</div>

		<!-- PROMOTIONS -->

      <!--<div class="promo">
      <p>Keep the Flame Alive</p>
      <p>Please disable your adblock on this site to help our running costs!</p>
      <p>Thank you :)</p>
  </div>-->

  <!-- FOOTER -->

  <footer>
  	<a class="btn btn-alt btn-border-red" href="#">Submit a flame</a>
  	<a class="btn btn-alt btn-border-red" href="#">Share this</a>
  	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  		<input type="hidden" name="cmd" value="_s-xclick">
  		<input type="hidden" name="hosted_button_id" value="P8EXUMD26YGH8">
  		<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
  		<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  	</form>
  </footer>

</div>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
